<%# <form action='/users' method='post' accept-charset="UTF-8"> %>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
    <%# <label for="user">Username</label> %>
    <%# <input type="text" name="user[username]"> %>
    <%# <label for="email">Eamil</label> %>
    <%# <input type="email" name="user[email]"> %>
    <%# <label for="password">Password</label> %>
    <%# <input type="password" name="user[password]"> %>

  <%# <div class="actions"> %>
    <%# <input type="submit" value="Create User"> %>
  <%# </div> %>
<%# </form> %>


<%# <%= form_tag users_path, method: :post, accept_charset: "UTF-8" do %> 
  <%# <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%# <div class="field"> %>
    <%# <%= label_tag 'user[username]', 'Username' %> 
    <%# <%= text_field_tag 'user[username]' %> 
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= label_tag 'user[email]', 'Email' %>
    <%# <%= email_field_tag 'user[email]' %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= label_tag 'user[password]', 'Password' %> 
    <%# <%= password_field_tag 'user[password]' %> 
  <%# </div> %>

  <%# <div class="actions"> %>
    <%# <%= submit_tag 'Create User' %> 
  <%# </div> %>
<%# <% end %> 

